@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(94, 92, 127);
  --background-color: 248, 247, 253;
  --container-color: 255, 255, 255;
  --primary-color: rgb(255, 107, 77);
  --primary-bg: #ff985c4d;
  --title-color: rgb(53, 50, 82);
  --text-color: rgb(94, 92, 127);
  --text-secondary: rgb(133, 131, 165);
  --stroke-color: #d7d7d7;
}

.dark {
  --foreground-color: rgb(159, 159, 159);
  --background-color: 34, 40, 49;
  --container-color: 49, 54, 63;
  --primary-color: rgb(255, 159, 140);
  --title-color: rgb(228, 230, 235);
  --text-color: rgb(163, 163, 163);
  --text-secondary: rgb(150, 150, 150);
  --stroke-color: rgb(70, 75, 85);

}

body {
  color: var(--foreground-color);
  background: rgb(var(--background-color));
}

@layer utilities {
  
}
